* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #fff;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #000;
  line-height: 1.16667;
  letter-spacing: -0.02em;
}

.text {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #71717a;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.black {
  font-weight: 800;
}

.header {
  padding: 25px 0;
  position: relative;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content-logo span {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}
.header__menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.header__list-link {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}
.header__content-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 4px;
  padding: 16px 20px;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  background: #000;
}
.header__content-btn svg {
  transition: all 0.3s ease-in;
  transform: scale(1);
}
.header__content-btn:hover svg {
  transform: scale(1.5);
}
.header__mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
}
.header__mobile-body {
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
}
.header__body-burger {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.header__body-burger span {
  width: 80%;
  height: 3px;
  background: #000;
}
.header__body-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #000;
}
.header__body-menu .header__menu-item {
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.header__body-menu .header__list-link {
  color: #fff;
}

.main {
  padding: 60px 0;
}
.main__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__content-info {
  width: 48%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
  flex-direction: column;
}
.main__info-sochial {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;
}
.main__sochial-list {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid #000;
  transition: all 0.3s ease-in;
}
.main__sochial-list:hover {
  background: #000;
}
.main__list-link {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
}
.main__list-link svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__content-bg {
  width: 48%;
}
.main__content-bg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.skills {
  padding-bottom: 60px;
}
.skills__content-title {
  text-align: center;
  margin-bottom: 20px;
}
.skills__content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills__wrap-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  flex: 0 1 15%;
  height: 186px;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.skills__wrap-flex:hover {
  background: #000;
}
.skills__wrap-flex:hover .skills__flex-name {
  color: #f4f4f5;
}
.skills__wrap-flex:hover .skills__flex-bg {
  background: #fff;
}
.skills__flex-bg {
  width: 56px;
  height: 56px;
  background: #f4f4f5;
  transition: all 0.3s ease-in;
}
.skills__flex-bg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #000;
}
.skills__flex-name {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.3s ease-in;
}

.experience {
  background: #000;
  padding: 60px 0;
}
.experience__content-title {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
.experience__content-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 32px;
}
.experience__row-body {
  padding: 30px 24px;
  border: 1px solid #71717a;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.experience__row-body:hover {
  background: #27272a;
}
.experience__body-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.experience__top-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.experience__top-logo span {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #d4d4d8;
}
.experience__top-name {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #d4d4d8;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.about {
  padding: 60px 0;
}
.about__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__content-bg {
  width: 45%;
  height: 572px;
}
.about__content-bg svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__content-info {
  width: 45%;
  padding-top: 20px;
}
.about__info-title {
  margin-bottom: 20px;
}
.about__info-text {
  margin-bottom: 20px;
}

.projects {
  padding: 60px 0;
  background: #000;
}
.projects__content-title {
  text-align: center;
  margin-bottom: 40px;
}
.projects__row-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects__row-body:hover .projects__body-bg img {
  transform: scale(1.2);
}
.projects__info-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.projects__body-bg {
  width: 45%;
  height: 397px;
  overflow: hidden;
  border-radius: 19px;
}
.projects__body-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in;
}
.projects__body-info {
  width: 45%;
  height: 296px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.projects__info-name {
  font-family: "Sora", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.projects__info-btn {
  width: 20px;
  height: 20px;
}
.projects__info-btn svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects .title {
  color: #fff;
}

@media (max-width: 1024px) {
  .title {
    font-size: 40px;
  }
  .text {
    font-size: 13px;
  }
}
@media (max-width: 820px) {
  .header__content {
    display: none;
  }
  .header__mobile {
    display: flex;
  }
  .main__content {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .main__content-info {
    width: 100%;
  }
  .main__content-bg {
    width: 100%;
  }
  .about__content {
    flex-direction: column;
  }
  .about__content-bg {
    width: 100%;
  }
  .about__content-info {
    width: 100%;
  }
  .projects__row-body {
    flex-direction: column;
    gap: 40px;
  }
  .projects__body-bg {
    width: 100%;
  }
  .projects__body-info {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */